:root {
  --text-primary: #0095f6;
  --text-secondary: #a8a8a8;

  --background-color: #000000;
  --surface-color: #121212;

  --text-white: #f5f5f5;

  --border-color: #494d53;

  --hover-color: #1a1a1a;

  --ig-gradient-close-friends: linear-gradient(
    90deg,
    #ff6a4d 0%,
    #ff2f92 50%,
    #b400ff 100%
  );
}

.primary-color {
  display: inline-block;
  background-image: var(--ig-gradient-close-friends);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
